.about__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about__container h5 {
  width: 100%;
  position: relative;
  top: 1.4rem;
  background-color: var(--color-br-variant);
  border-radius: 50rem;
  padding: 5px;
}

.about__container article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.8rem;
  flex-grow: 1;
}

.img__container {
  height: 20rem;
  display: flex;
  align-items: flex-end;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 1.2rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  border: 1px solid var(--color-br-variant);
  transform: rotate(-10deg);
}

.img__container img {
  height: 20rem;
  border-radius: 1.2rem;
  background-color: var(--color-br-variant);
  transform: rotate(10deg);
  transition: var(--transition);
}

.img__container img:hover {
  transform: rotate(0);
}

.text__container {
  width: 35vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 1.2rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  color: var(--color-white);
}

@media only screen and (max-width: 720px) {
  .about__container {
    height: auto;
    gap: 3.2rem;
  }

  .about__container article {
    flex-wrap: wrap;
  }

  .img__container {
    height: 16rem;
  }

  .img__container img {
    height: 16rem;
  }

  .text__container {
    width: var(--container-width-sm);
  }
}

@media only screen and (max-width: 600px) {
}