.container__experience {
  height: auto;
  flex-direction: column;
}

.container__front_and_back {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.container__skills {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

.container__skills h3, .check__icon {
  color: var(--text-color-primary);
}

.skills {
  margin-top: 0.8rem;
}

.skill {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.skill h4 {
  color: var(--color-white);
}

@media only screen and (max-width: 720px) {
}

@media only screen and (max-width: 600px) {
  .container__front_and_back {
    margin-top: 1rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

}