.textContainer {
  position: relative;
  padding: 2vw 5vw 2vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
  /* gap: 3vw; */
  color: #D9C2AD;
  text-shadow: 2px 2px #0b244b8c;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 3px 3px #4186f680;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
}
